@{
    ViewBag.Title = "Contact";
}

<div class="center_title_bar" style="font-size:15px">Thông tin liên hệ</div>
      <div class="cart_box" style="font-size:14px" >
      <p > I. Để nhận được các tư vấn về tính năng sản phẩm, phương thức vận chuyển và thanh toán,... Xin quý khách vui lòng liên hệ với Mobile Shop Online qua:</p>
      <p > 1. Điện thoại: 04.6256.7777</p>
      <p > 2. Email:<a href:"mailto:hotro@mobileshoponle.vn">hotro@mobileshop.vn</a></p>
      <p >&nbsp;</p>
      <p > II. Mọi thắc mắc, giải đáp hay góp ý về chất lượng sản phẩm, dịch vụ cũng như cung cách phục vụ của các nhân viên tại cửa hàng, siêu thị, hệ thống tổng đài, website,... Xin quý khách vui lòng liên hệ với phòng Chăm sóc khách hàng qua:        </p>
      <p >1. Điện thoại: 04.6269.4566 - 0975.567.777</p>
      <p > 2. Email: cskh@mobileshop.vn</p>
      <p > 3. Hoặc gửi thông tin trực tiếp bằng mẫu sau, chúng tôi sẽ phản hồi ngay khi nhận được thông tin. </p>
          </div>
